name: CI-CD

on:
  push:
    branches: ["main"]

jobs:
  pipeline:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS creds
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/GitHubActionsDVCAndEKSRole
          aws-region: ap-south-1

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Pull data and model
        run: dvc pull

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: docker-username/ml-api:${{ github.sha }}

      - name: Update manifest image tag
        run: |
          sed -i "s#image: .*#image: docker-username/ml-api:${GITHUB_SHA}#g" k8s/manifest.yaml
      - name: Commit changes
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git add k8s/manifest.yaml
          git commit -m "Update image tag"
          git push
